/* Your app custom styles here */
:root {
    --zmp-textarea-height: 32px;
    --skeleton-color: white;
    --skeleton-icon-color: white;
}
.text-primary {
    color: var(--zmp-theme-color) !important;
}
.text-secondary {
    color: var(--zmp-actions-label-text-color) !important;
}
.text-danger {
    color: #B22830;
}
.text-black {
    color: black;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.bg-white {
    background-color: white !important;
}
.d-inline {
    display: inline !important;
}
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.h-center {
    justify-content: center;
}
.v-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.m-auto {
    margin: auto;
}
.page-content {
    padding-bottom: 80px;
}
.has-cart .page-content {
    padding-bottom: 166px;
}
.ellipsis {
    width: calc(100vw - 200px);
    min-width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-image {
    width: 48px;
}
.custom-icon {
    width: 24px;
}
.custom-action-sheet {
    box-shadow: var(--zmp-button-raised-box-shadow);
    .actions-group:first-child {
        position: sticky;
        top: 0;
        z-index: 3000;
        box-shadow: var(--zmp-button-raised-box-shadow);
    }
    .actions-group:nth-child(2) {
        border-top: unset;
        .actions-label:first-of-type {
            background: #EEF1F6;
        }
    }
    .actions-button {
        height: unset;
        padding: 0 16px;
        .actions-button-text {
            padding: 24px 0;
            height: unset;
            display: flex;
            align-items: center;
            .description {
                flex: 1;
                text-align: left;
                margin-left: 16px;
                line-height: normal;
                white-space: normal;
            }
        }
        &.inactive {
            background: #EEF1F6;
            filter: grayscale(1);
        }
    }
    .actions-label {
        background: #EEF1F6;
        min-height: unset;
        &:first-of-type {
            background: white;
        }
    }
    .close-button {
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 1;
    }
    .title {
        color: black;
        font-size: 1rem;
    }
    .searchbar {
        border-radius: var(--zmp-searchbar-in-page-content-border-radius);
    }
}
.picker.modal-in {
    box-shadow: var(--zmp-button-raised-box-shadow);
    .zmp-picker-sheet-header {
        box-shadow: var(--zmp-button-raised-box-shadow);
        padding: 16px;
    }
}
.sticky-action-footer {
    padding: 0;
    position: sticky;
    bottom: 0;
    box-shadow: var(--zmp-button-raised-box-shadow);
    border-top: none !important;
}
.actions-button a, .actions-label a, .button.button-fill {
    color: white;
    &.zmp-btn-secondary {
        color: #0068FF;
    }
    &.zmp-btn-destructive {
        color: #ef4e49
    }
    &.zmp-btn-tertiary {
        color: var(--zmp-text-color);
        background: white;
    }
}
.actions-modal {
    max-height: calc(100% - 16px);
    border-top-left-radius: var(--zmp-actions-border-radius);
    border-top-right-radius: var(--zmp-actions-border-radius);
}
.skeleton-block, .skeleton-text {
    border-radius: 8px;
}
.loading-button {
    margin-right: 8px;
    .spinner-path {
        stroke: white;
    }
    .dot-path {
        fill: white !important;
    }
}
.editable-info {
    .label {
        text-align: left;
        margin-left: 16px;
        margin-bottom: -16px;
        margin-top: 0;
        padding-top: 16px;
    }
    .item-inner {
        padding-bottom: 8px;
    }
}
.zmp-checkbox-label {
    align-self: center;
}