.shipping-time {
  .label {
      text-align: left;
      margin-left: 16px;
      margin-top: 0;
      margin-bottom: -4px;
      padding-top: 16px;
  }
  .item-inner {
      padding-top: 8px;
      padding-bottom: 0;
      > div {
          flex: 1;
      }
  }
  #shipping-time-picker {
      border: none;
      padding: 0;
  }
}
.inline-input {
    width: 100%;
    .input-info {
        display: none;
    }
    input, textarea {
        border: none;
        min-height: unset;
        height: 32px;
        padding: 8px 0 !important;
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
    textarea.resizable {
        padding-top: 12px !important;
    }
}