/* Your app custom styles here */
:root {
    --zmp-textarea-height: 32px;
}
.text-primary {
    color: var(--zmp-theme-color) !important;
}
.text-secondary {
    color: var(--zmp-actions-label-text-color) !important;
}
.page-content {
    padding-bottom: 80px;
}
.address-picker-actions {
    .actions-button {
        height: unset;
        .actions-button-text {
            padding: 24px 0;
            height: unset;
            display: flex;
            align-items: center;
            .description {
                flex: 1;
                text-align: left;
                margin-left: 16px;
                line-height: normal;
                white-space: normal;
            }
        }
        &.inactive {
            background: #EEF1F6;
            filter: grayscale(1);
        }
    }
    .actions-label {
        background: #EEF1F6;
        min-height: unset;
        &:first-of-type {
            background: white;
        }
    }
    .close-button {
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 1;
    }
    .title {
        color: black;
        font-size: 1rem;
    }
    .searchbar {
        border-radius: var(--zmp-searchbar-in-page-content-border-radius);
    }
}
.inquiry {
    select, .button {
        background-color: white;
        border: none;
    }
}
.ellipsis {
    width: calc(100vw - 200px);
    min-width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bottom-navigation {
    .cart {
        position: fixed;
        bottom: 64px;
        width: 100%;
        box-sizing: border-box;
        border-top: .5px solid var(--zmp-card-inset-border-color);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        .button {
            padding: 24px 32px;
        }
    }
    .tabbar {
        position: fixed;
        height: 64px;
    }
    .link {
        margin: 20px;
        font-weight: normal;
        &.active {
            border-top: 2px solid var(--zmp-theme-color);
            color: var(--zmp-theme-color);
        }
    }
}
.inline-input {
    width: 100%;
    .input-info {
        display: none;
    }
    input, textarea {
        border: none;
        min-height: unset;
        height: 32px;
        padding: 8px 0 !important;
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
    textarea.resizable {
        padding-top: 12px !important;
    }
}
.editable-info {
    .item-inner {
        padding-bottom: 8px;
    }
}
.actions-button a, .actions-label a {
    color: white;
}