/* Your app custom styles here */
.text-primary {
    color: var(--zmp-theme-color) !important;
}
.text-secondary {
    color: var(--zmp-actions-label-text-color) !important;
}
.page-content {
    padding-top: 82px;
    padding-bottom: 80px;
}
.address-picker-actions {
    .actions-button {
        height: unset;
        .actions-button-text {
            padding: 32px 0;
            height: unset;
            display: flex;
            align-items: center;
            .description {
                flex: 1;
                text-align: left;
                margin-left: 16px;
                line-height: normal;
                white-space: normal;
            }
        }
        &.inactive {
            background: #EEF1F6;
            filter: grayscale(1);
        }
    }
    .actions-label {
        background: #EEF1F6;
        &:first-of-type {
            background: white;
        }
    }
    .close-button {
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 1;
    }
    .title {
        color: black;
        font-size: 1rem;
    }
    .searchbar {
        border-radius: var(--zmp-searchbar-in-page-content-border-radius);
        input {
            border: none;
        }
    }
}
.inquiry {
    select, .button {
        background-color: white;
        border: none;
    }
}
.ellipsis {
    width: calc(100vw - 200px);
    min-width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}